@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
/* @import url('https://css.gg/arrow-right-o.css'); */
 


body {
    background-color: #fcc2bc;
    font-family: 'Noto Sans', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.over {
margin: 10px;
font-family: 'Noto Sans', sans-serif;
}

.hidden {
    display:none;
}